## Weekly Review (2022. 09. 13 ~ 16.)
* TUE : Matplotlib, Titanic dataset Analysis
* WED : Github Update, Matplotlib, Titanic dataset Analysis
* THU : Folium, Market dataset
* FRI : Folium, Pandas, Titanic dataset Analysis

### Pandas Review
##### 학습목표
* Pandas에 대해 이해한다.
* Pandas의 기본 자료 구조형에 대해 이해한다.
* Pandas의 기본 자료 구조형 실습을 통해 생성할 수 있다.

##### 학습내용
* Pandas에 대해 알아보기
* Pandas 불러오기
* Pandas Series 이해하기
* DataFrame 객체 이해하기
* DataFrame 객체 내부 구조 알아보기

#### 1-1 Pandas에 대해 알아보기
* Pandas의 핵심 자료 구조는 Series와 DataFrame이다.
* Python이 오픈소스 기반 R과 더불어 빅데이터 분석 분야에서 인기가 높아진데는 여러가지 이유가 있지만, 그 중에서 Pandas의 라이브러리 역할이 크다.

#### 1-2 Pandas에 앞서 알아보기

In [1]:
myfood = ['banana', 'apple', 'candy']
print(myfood[0])
print(myfood[1])
print(myfood[2])

banana
apple
candy

In [2]:
for item in myfood:
  print(item)

banana
apple
candy

* [리스트] 리스트를 이용하면 반복을 통해 데이터 관리가 가능하다.

* [딕셔너리(Dictionary)] Python 기본 자료형

In [3]:
dict1 = {'one':'하나', 'two':'둘', 'three':'셋'}
dict2 = {1:'하나', 2:'둘', 3:'셋'}
dict3 = {'col1':[1,2,3], 'col2':['a', 'b', 'c']}

In [4]:
print(dict1)
print(dict2)
print(dict3)

{'one': '하나', 'two': '둘', 'three': '셋'}
{1: '하나', 2: '둘', 3: '셋'}
{'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']}

#### 1-3 Pandas 불러오기

In [6]:
import pandas as pd
from pandas import Series, DataFrame

* import pandas as pd : Pandas를 불러온다.
* from pandas import Series, DataFrame : Pandas 안의 Series와 DataFrame을 불러온다.

#### 1-4 Pandas Series

##### Pandasa의 Series 자료형 만들기
* Series 함수를 이용한다.
* () 안에는 리스트 자료형으로 값을 넣는다.
      # 홍길동 팀의 5일 간의 점수
      # [1000, 14000, 3000, 3000, 1000]

In [7]:
score = Series( [1000, 14000, 3000, 3000, 1000] )
print(score)

0     1000
1    14000
2     3000
3     3000
4     1000
dtype: int64

* Series 객체는 일차원 배열과 달리 각 값에 연결된 값도 동시에 저장된다.
* Series 객체는 지정된 값이 없다면 기본적으로 0으로 시작하는 정수 값을 index로 사용한다.

##### Pandas Series Index 값 지정하기

In [9]:
score = Series( [1000, 14000, 3000] )
print(score)

0     1000
1    14000
2     3000
dtype: int64

In [10]:
score = Series( [1000, 14000, 3000],
               index = ['2019-05-01', '2019-05-02', '2019-05-03'])
print(score)

2019-05-01     1000
2019-05-02    14000
2019-05-03     3000
dtype: int64

In [11]:
print( score['2019-05-01'] )
print()
print( score['2019-05-02':'2019-05-03'] )

1000

2019-05-02    14000
2019-05-03     3000
dtype: int64

* Index를 날짜로 지정하여 값의 접근 및 확인(출력)이 가능하다.

##### Index 확인하기, Index에 해당되는 값을 확인하기

In [12]:
for idx in score.index:
  print(idx)

2019-05-01
2019-05-02
2019-05-03

* Series의 index인 날짜 확인

In [14]:
for value in score.values:
  print(value)

1000
14000
3000

* 해당 날짜에 해당하는 팀 점수(값) 확인

In [15]:
gildong = Series([1500, 3000, 2500],
                 index=['2019-05-01', '2019-05-02', '2019-05-03'])
toto = Series([3000, 3000, 2000],
              index = ['2019-05-01', '2019-05-03', '2019-05-02'])

In [16]:
gildong

2019-05-01    1500
2019-05-02    3000
2019-05-03    2500
dtype: int64

In [17]:
toto

2019-05-01    3000
2019-05-03    3000
2019-05-02    2000
dtype: int64

In [18]:
gildong+toto

2019-05-01    4500
2019-05-02    5000
2019-05-03    5500
dtype: int64

* Index를 기준으로 값의 연산이 이루어지게 된다.
* 같은 index를 갖는 값이 더하기 연산을 수행.

#### 1-5 DataFrame 객체
##### DataFrame의 이해
* Pandas의 Series가 1차원 형태의 자료구조라면
* DataFrame은 여러개의 컬럼(Column)으로 구성된 2차원 형태의 자료구조

##### DataFrame 객체 생성하기
* 데이터 프레임의 객체를 생성하는 가장 간단한 방법은 딕셔너리를 이용하는 방법
* 데이터 프레임은 Series의 결합으로 이루어진 것으로 생각할 수 있음
* Pandas(판다스)의 대표적인 기본 자료형

In [19]:
from pandas import DataFrame

In [20]:
dat = { 'col1':[1,2,3,4],
        'col2':[10,20,30,40],
        'col3':['A','B','C','D'] }

df = DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

* DataFrame을 이용하여 DataFrame 자료형 생성이 가능하며,
* 기본적으로는 딕셔너리 형태로 객체 생성이 가능

##### DataFrame 객체 생성하기

In [21]:
from pandas import DataFrame
dat = { 'col1':[1,2,3,4],
        'col2':[10,20,30,40],
        'col3':['A','B','C','D'] }

df = DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

##### DataFrame의 column(열) 데이터 출력하기

In [23]:
print(dat['col1'])

[1, 2, 3, 4]

* DataFrame 객체는 'col1', 'col2', 'col3'의 세 개의 Series 객체로 구성된다.
* Series 객체의 index는 서로 동일하다.

In [25]:
from pandas import DataFrame

team_score = { "toto":[1500, 3000, 5000, 7000, 5500],
              "gildong":[2000, 2500, 3000, 4000, 3000],
              "apple":[4000, 5000, 6000, 5500, 4500],
              "catanddog":[7000, 5000, 3000, 5000, 4000] }

team_df = DataFrame(team_score)
team_df

   toto  gildong  apple  catanddog
0  1500     2000   4000       7000
1  3000     2500   5000       5000
2  5000     3000   6000       3000
3  7000     4000   5500       5000
4  5500     3000   4500       4000

* 파이썬 딕셔너리 형태로 각 컬럼은 데이터로 저장이 가능하다.
* DataFrame클래스의 생성자로 넘겨준다.
* 컬럼의 순서가 다른 경우, columns를 이용하여 컬럼의 순서를 지정할 수 있다.

In [29]:
date = ['19-05-01', '19-05-02', '19-05-03', '19-05-04', '19-05-05']
team_df = DataFrame(team_score,
                    columns=['catanddog', 'toto', 'apple', 'gildong'],
                    index=date )

team_df

          catanddog  toto  apple  gildong
19-05-01       7000  1500   4000     2000
19-05-02       5000  3000   5000     2500
19-05-03       3000  5000   6000     3000
19-05-04       5000  7000   5500     4000
19-05-05       4000  5500   4500     3000

* Dataframe 객체는 'catanddog', 'toto', 'apple', 'gildong'의 Series 객체로 구성된다.
* Series 객체의 인덱스는 date(날짜)로 서로 동일하다.