## **파이썬 기본 리뷰**

01. 수업 오리엔테이션 및 유의사항 안내
02. gmail 공유
03. 간단한 자기소개 : 이름, 신청동기, 취미, 바라는 목표 등
04. 기본 경험 유무 확인
        - python 기본 경험 유무
        - python 책 한 권 이상 본 적 있는지
        - pandas 라이브러리 경험
        - matplotlib 라이브러리 사용 경험
        - 머신러닝 모델 구현 유무
        - 딥러닝 모델 구현 유무
        - pandas의 iloc와 loc 차이 아는지
        - matplotlib의 t데이터를 이용하여 산점도 그릴 수 있는지
05. google colab에서 파이썬 코드 실행해보기
        01. 구글 로그인
        02. google colab을 검색하여 이동
        03. 새 노트북 만들기
        04. 시작화면 확인
        05. 기본 코드 입력 후 SHIFT+ENTET(실행)
        06. 결과가 나오고, 다음 셀이 생성되면서 다음 셀로 이동

### python 기본 지식 확인
* print(____, end=" ") : end는 어떤 역할을 할까요?
      - 문장의 끝을 지정합니다. (태찬)
* print(____, sep=" ") : sep는 어떤 역할을 할까요?
      - 모르겠습니다. (지윤, 태웅)

In [5]:
print(10)
print( )                                   # 출력
print("Hello")                             # "문자열"을 출력
print("Hello2", end=' ')                   # 출력된 '문자열' 끝에 ' '값을 출력
print("Hello3", "Hello4", sep=' ')         # '문자열' 출력값 사이에 ' '을 출력

10

Hello
Hello2 Hello3 Hello4

#### google colab 단축키 입니다.
* SHIFT + ENTER : 실행하고 다음셀로 이동
* CTRL + ENTER : 현재 셀을 실행하고 현재 셀에서 있는 것.
* CTRL + MM : 설명을 넣어주는 것으로 변경한다.
* CTRL + MY : 프로그램을 실행할 수 있는 셀로 변경
* CTRL + MA : 앞쪽에 셀을 하나 추가한다.
* CTRL + MB : 아래쪽에 셀을 하나 추가한다.
* CTRL + MD : 대상의 셀을 삭제한다.

In [7]:
print("Hello4", end='\n\n')
print("Hello5", end=' ')

print('\n\n')
print("Hello4", "Hello4", "Hello4", "Hello4", sep=' ')

Hello4

Hello5


Hello4 Hello4 Hello4 Hello4

In [8]:
# 변수명
a = 4         # 정수 
a2 = 4.3      # 실수 
ab = "Hello"  # 문자열 
ab = 'Hello'  # 문자열 
abc = a

print(a, a2, ab, abc)

4 4.3 Hello 4

#### input() : 사용자로부터 입력을 받겠다.

In [9]:
a = input()

test

In [10]:
print(a)

test

In [11]:
name = input("당신의 이름은?") 
print(name)

당신의 이름은?Yurim
Yurim

In [12]:
age = input("당신의 나이는?") 
print(age)

당신의 나이는?31
31

#### 자료형 출력
* type(___변수___) : 자료형을 출력
  - int   : 정수
  - float : 실수 
  - str   : 문자열
  - list  : 리스트
  - dict  : 딕셔너리
  - pandas : 판다스 자료형

* 숫자 + 숫자 => 계산
* 숫자 + "문자열" => 에러 발생

* 자료형 변환 
  - 내가 변경하고 싶은 자료형 변경
  - int( 문자열 ) => 숫자형태의 문자열이 숫자로 변경된다.

In [13]:
print( type(age) )

<class 'str'>

In [14]:
a = int( "1000" )
print( a, type(a) )

1000 <class 'int'>

#### 연산자
* 사칙 연산자 : +, -, *, /
* 기타 연산자 : **(제곱), %(나머지), //(몫)
      - 10 ** 2 = 10 * 10
      - 10 ** 4 = 10 * 10 * 10 * 10
      - 10 % 2  = 0
      - 100 // 2 = 50
* 비교 연산자
      ==  같다.
      !=  다르다.
      >=  크거나 같다
      <=  작거나 같다
      >   크다 
      <   작다

In [15]:
print(9 + 10) # 더하기
print(9 - 10) # 빼기
print(30 / 5) # 나누기
print(5 * 3) # 곱하기
print(2**5) # 제곱 연산 2*2*2*2*2
print(17 % 4) # 나머지 1
print(17//4) # 몫 4

19
-1
6.0
15
32
1
4

In [16]:
print( 3 == 3 )  # True (1이상)
print( 3 != 3 )   # False (0)
print( 3 >= 1 )
print( 3 <= 1 )

True
False
True
False

* and 연산자 : 
      True and True  : True
      False and True : False
      (1 == 3) and (1 > 0) ; False

* or 연산자 
      True or False : True
      False or False
      (1 == 3) or (1 > 0) 
      False or True  : True

* not 
      not True  : False
      not False : True

* in 연산자 : 어디 값 안에 해당값이 있는가?

In [17]:
1 in [1,2,3,4,5]

True

In [18]:
print("{} 와 {}의 합은 {}입니다.".format(2, 5, 7))

2 와 5의 합은 7입니다.

    (실습) 영화관 출입시, 당신의 나이는 얼마죠?
    당신의 나이가 15세 이상이면 
    '__세이군요'
    '입장해 주세요.'

In [19]:
age = input("당신의 나이는?")
age = int(age)

if (age>=15):
  print("{}세 이군요.".format(age) )
  print("입장이 가능합니다.")

당신의 나이는?31
31세 이군요.
입장이 가능합니다.

#### if문
    (가장 기본적인 형태)
    if  (조건식):
         실행문1

    (가장 기본적인 형태)
    if  (조건식):
        실행문1
        실행문2

    (형식3)
    if  (조건식):
        실행문1
        실행문2
    else:
        조건을 만족하지 않을경우, 실행문1
        조건을 만족하지 않을경우, 실행문2

In [20]:
## 4.5이상 A+
## 4.0이상 A
## 3.5이상 B+
## ..
grade = 3.7

if grade>=4.5:
  print("A+")

if grade>=4.0:
  print("A")

if grade>=3.5:
  print("B+")

B+

#### for문
    3-6 [실습] 1-10까지 출력해보기
    3-7 [실습] 1-10까지 홀수만 출력해 보기
    3-8 [실습] 1-100까지 3의 배수, 5의 배수 출력해 보기 
    3-9 [도전] 구구단 출력해 보기

In [21]:
# range(시작값, 끝값, 증가값)
# range(시작값, 끝값)  # 증가값은 기본값으로 1이다.

for a  in range(1,11,1):
  print(a)

1
2
3
4
5
6
7
8
9
10

In [22]:
# 3-7 [실습] 1-10까지 홀수만 출력해 보기
for a  in range(1,11,2):
  print(a)

1
3
5
7
9

In [23]:
for i in range(1, 101):
    if (i % 3 == 0) | (i % 5 == 0):
      print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [24]:
for i in range(1,10,1):
  print(i)
  for j in range(1,10,1):
    print("{} * {} = {}".format(i, j, i*j))

1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [25]:
### 함수 정의 및 실행 
def plus():
  pass

plus()

In [26]:
### 함수 정의 및 실행 
def plus1():
  print("함수 실행")

In [27]:
plus1()

함수 실행

In [28]:
def plus2(num1, num2):
  print("두개의 값 더하기 : ", num1+num2)
  
plus2(10, 100)

두개의 값 더하기 :  110

In [29]:
def plus3(num1, num2):
  print("두개의 값 더하기 : ", num1+num2)
  return num1 + num2 
  
result = plus3(10, 100)
print("두개의 값 더한 것의 *100 = ", result*100)

두개의 값 더하기 :  110
두개의 값 더한 것의 *100 =  11000

In [30]:
def myprint(a, endA='\n'):
  print(a, end=endA)
  # return 999  # 정상적으로 마칠 경우, 999를 넘겨준다.

In [31]:
myprint("Hello", endA='\n\n\n')
myprint("Hello")
myprint("Hello")

Hello


Hello
Hello

In [32]:
def myprint1(a, a1, a2, endA='\n'):
  print(a, end=endA)

### 아나콘다 설치하기
    01 검색('anaconda archive')하기

    02 설치 저장소로 가서 원하는 버전을 선택하기
       https://repo.anaconda.com/archive/
       Anaconda3 [2 : python2, 3: python3 ]

    03 2022.05버전으로 설치 
       [Window용] Anaconda3-2022.05-Windows-x86_64.exe
  
    04 설치 진행 
       설치 경로 : C:\Users\[사용자명]\anaconda3
   
    05 설치 후, python 버전 확인
       anaconda prompt 검색 후, 실행
       python --version
       현재 버전 : 3.9.12
   
       anaconda 버전 확인 
       conda --version 
       현재 버전 : 4.12.0